parameters:
    phpVersion: 80000 # PHP 8.0
    universalObjectCratesClasses:
        - EdgeTelemetrics\EventCorrelation\Event
        - EdgeTelemetrics\EventCorrelation\IEvent
    dynamicConstantNames:
        - EdgeTelemetrics\EventCorrelation\Scheduler::PRESERVE_FAILED_EVENTS_ONLOAD